.card {
  width: 10rem;
}

.main-container {
  background-color: #e9ecef;
  max-width: 100vw;
  min-height: 100vh;
  width: 100vw;
}

.card-image-overlay {
  background-color: rgba(33, 37, 41, 0.5);
}

.card-title {
  font-family: Titan One , sans-serif;
  opacity: 1;
}

.recipe-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .row-class {
  height: 100%;
} */
